@import "../../mixins.scss";

.projects-page {
  h1 {
    @include title-page;
    text-align: left;
    padding: 20px;
  }
  .content-wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
  }
}

@media screen and (max-width: 768px) {
  .projects-page {
    h1 {
      font-size: 38px;
      text-align: center;
    }
    .content-wrapper {
    }
  }
}
