@import "../../mixins.scss";

.projects-page {
    .text-zone {
        padding: 20px;
        h1 {
            @include title-page;
            text-align: center;
        }
    }
    .projects-container {
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
