@import "../../mixins.scss";
.project-card {
  margin: 0 auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  will-change: auto;
  .image-box {
    grid-column: 1/8;
    grid-area: 1 / 1 / -1 / 7;
    animation: backInLeft 2s ease-in-out;
    img {
      width: 100%;
      height: auto;
      margin: auto auto;
      border-radius: 5px;
      -webkit-box-shadow: 5px 5px 5px -2px rgba(34, 60, 80, 0.6);
      -moz-box-shadow: 5px 5px 5px -2px rgba(34, 60, 80, 0.6);
      box-shadow: 5px 5px 5px -2px rgba(34, 60, 80, 0.6);
      cursor: pointer;
    }
    img:hover {
      transition: filter .5s ease-in;
      filter: blur(1px) brightness(0.8);
    }
  }
  .content-box {
    display: flex;
    text-align: right;
    grid-column: 7/-1;
    grid-area: 1 / 6 / -1 / -1;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
    .content {
      h4 {
        font-size: 24px;
      }

      h2 {
        font-size: 32px;
      }

      .text-box {
        animation: backInRight 1s ease-in-out;
        background-color: rgb(134 187 216);
        padding: 20px;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 600;
        color: $text-color;
        -webkit-box-shadow: 5px 5px 5px -2px rgba(34, 60, 80, 0.6);
        -moz-box-shadow: 5px 5px 5px -2px rgba(34, 60, 80, 0.6);
        box-shadow: 5px 5px 5px -2px rgba(34, 60, 80, 0.6);
      }
      ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 5px;
        li {
          list-style: none;
        }
      }
      .link-icon {
        font-size: 32px;
        color: black;
        &:hover {
          transition: color 0.5s;
          color: $second-color;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .project-card {
    .image-box {
      grid-area: 1/1/-1/-1;
      img {
        filter: opacity(50%);
      }
    }
    .content-box {
      grid-area: 1/1/-1/-1;
    }
  }
}
