@import '../scss/mixins.scss';
.about-page {
  .text-zone {
    padding: 20px;
    h1 {
      @include title-page;
      text-align: center;
    }
    .content {
      display: flex;
      justify-content: space-between;
      font-size: 15px;
      color: white;
      width: 500px;
    }
  }
}
