@import '../scss/mixins.scss';
.about-page {
  .text-zone {
    padding: 20px;
    h1 {
      @include title-page;
      text-align: left;
    }
    .content {
      width: 600px;
      p {
        font-size: 18px;
        min-width: fit-content;
        animation: pulse 1s;

        ul {
          list-style-type:circle 2;
          font-size: 18px;
        }

        &:nth-of-type(1) {
          animation-delay: 0.5s;
        }

        &:nth-of-type(2) {
          animation-delay: 0.6s;
        }

        &:nth-of-type(3) {
          animation-delay: 0.7s;
        }
      }
    }
  }
}
