@import "../../mixins.scss";
.home-page {
  width: 100%;
  will-change: auto;
  .text-zone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 20px;

    h1 {
      @include title-page;

      &:nth-child(1) {
        animation: fadeInLeft 1s backwards;
      }
      &:nth-child(2) {
        animation: fadeInLeft 1s .4s backwards;
      }
      &:nth-child(3) {
        animation: fadeInLeft 1s .6s backwards;
      }
    }

    h2 {
      color: rgb(100, 100, 100);
      margin: 20px 0px;
      font-weight: 400;
      font-size: 25px;
      letter-spacing: 3px;
      animation: fadeInLeft 1s .8s backwards;
    }

    .flat-button {
      @include btn;
      animation: fadeInLeft 1s 1s backwards;
    }
  }
}

@media screen and (max-width: 768px) {
  .home-page {
    .text-zone {
      align-items: center;
      h1 {
        font-size: 38px;
        text-align: center;
      }
    }
  }
}
