@import '../scss/mixins.scss';
.home-page {
    .text-zone {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
        padding: 20px;

        h1 {
            @include title-page;
        }

        h2 {
            color: rgb(100, 100, 100);
            margin: 20px 0px;
            font-weight: 400;
            font-size: 25px;
            letter-spacing: 3px;
            animation: fadeIn 1s 1.4s backwards;
        }

        .flat-button {
            @include btn;
            animation: fadeIn 1s 1.8s backwards;
        }
    }
}

@media screen and (max-width: 1024px) {
    .home-page{
        .text-zone {
            align-items: center;

            h1 {
                text-align: center;
                font-size: 2.5rem;
            }
            h2 {
                font-size: 2rem;
            }
        }
    }
}
