@import "../../mixins.scss";
.nav-bar {
  background-color: black;
  grid-area: sidenav;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
  padding: 5px;

  nav {
    grid-column: 6/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    column-gap: 10px;

    a {
      font-size: 14px;
      color: #ffff;
      text-decoration: none;
      transition: all 0.2s ease-out;
      display: flex;
      flex-direction: row;
      column-gap: 5px;
      letter-spacing: 5px;
      &:hover {
        color: $second-color;

        svg,
        h2 {
          color: $second-color;
        }
      }
      h2 {
        font-size: 14px;
      }
      svg {
        align-items: center;
      }
    }

    a.active {
      svg,
      h2 {
        color: $second-color;
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .nav-bar {
    display: flex;

  }
  .nav-bar > nav {
    column-gap: 5px;
    a {
      flex-direction: column;
      align-items: center;

      h2 {
        font-size: 12px;
      }
    }
  }
}
