@import "../../mixins.scss";
.nav-bar {
  background-color: black;
  grid-area: sidenav;
  display: grid;
  justify-items: center;
  padding: 5px;

  nav {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    a {
      @include a-icon-styles;

      &:hover {
        color: $second-color;

        svg {
          color: $second-color;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        @include a-after-text;
      }

      &:first-child {
        &::after {
          content: "Home";
        }
      }
    }

    a.about-link {
      &:after {
        content: "About";
      }
    }
    a.projects-link {
      &:after {
        content: "Projects";
      }
    }
    a.contact-link {
      &:after {
        content: "Contact";
      }
    }

    a.active {
      svg {
        color: $second-color;
      }

      &::after {
        color: $second-color;
        opacity: 1;
      }
    }
  }

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    li {
      a {
        @include a-icon-styles;
        &:hover {
          svg {
            color: $primary-color;
          }

          &:after {
            opacity: 1;
          }
        }
        &:after {
          @include a-after-text;
        }

        &:first-child {
          &::after {
            content: "LinkedIn";
          }
        }
      }

      a.github {
        &:after {
          content: "Github";
        }
      }

      a.google {
        &:after {
          content: "Google";
        }
      }
    }
  }
}
