.nav-bar {
    background: #181818;
    grid-area: sidenav;
    height: 100%;
    display: grid;
    justify-items: center;
    .logo {

        img {
            display: block;
            width: 24px;
            height: auto;
            margin: 0 auto;
        }
    }

    nav {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;

        a {
            font-size: 22px;
            color: #4d4d4e;
            display: block;
            position: relative;
            text-decoration: none;
            width: 100px;
            i {
                transition: all 0.2s ease-out;
            }

            &:hover {
                color: #ffd700;

                svg {
                    color: #ffd700;
                }

                &:after {
                    opacity: 1;
                }
            }

            &:after {
                content: '';
                display: block;
                letter-spacing: 3px;
                font-size: 12px;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all 0.2s ease-out;
            }

            &:first-child {
                &::after {
                    content: 'Home';
                }
            }
        }

        a.about-link {
            &:after {
                content: 'About';
            }
        }
        a.projects-link {
            &:after {
                content: 'Projects';
            }
        }
        a.contact-link {
            &:after {
                content: 'Contact';
            }
        }
    }

    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;

        li {
            a {
                display: block;
                font-size: 22px;
                text-decoration: none;
                transition: all 0.2s ease-out;
                color: #4d4d4e;
                &:hover {
                    svg {
                        color: #ffd700;
                    }

                    &:after {
                        opacity: 1;
                    }
                }
                &:after {
                    content: '';
                    display: block;
                    letter-spacing: 3px;
                    font-size: 12px;
                    width: 100%;
                    text-align: center;
                    opacity: 0;
                    color: #ffd700;
                    transition: all 0.2s ease-out;
                }

                &:first-child {
                    &::after {
                        content: 'LinkedIn';
                    }
                }
            }

            a.github {
                &:after {
                    content: "Github";
                }
            }

            a.google {
                &:after {
                    content: "Google";
                }
            }
        }
    }
}
