@import './app.scss';
@import './components/scss/mixins.scss';

body {
  background: $background-color;
  color: $text-color;
  height: 100%;
  margin: 0;
  font-family: 'Helvetica Neue', 'La Belle Aurore', 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}
