@mixin title-page {
  font-size: 64px;
  font-weight: 700;
  animation: 1s 1s backwards;
}

@mixin a-icon-styles {
  font-size: 22px;
  color: #ffff;
  display: block;
  position: relative;
  text-decoration: none;
  width: 100px;
  transition: all 0.2s ease-out;
}

@mixin a-after-text {
  content: '';
  display: block;
  letter-spacing: 3px;
  font-size: 12px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: all 0.2s ease-out;
}
@mixin btn {
  color: $second-color;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 4px;
  text-decoration: none;
  padding: 10px 10px;
  border: 1px solid $second-color;
  cursor: pointer;
  &:hover {
    color: $text-color;
    background-color: $second-color;
  }
}

$primary-color: #33658A;
$second-color: #86BBD8;
$background-color: rgb(255, 255, 255);
$icon-color: #ffff;
$text-color: #303030;
