.Roadmap {
    position: relative;
  .box {
      position: relative;
      margin-left: 50px;
    .recatngels {
      fill: none;
      stroke-width: 2;
      stroke: white;
      width: 164px;
      height: 80px;
    }
    .rhombus {
      fill: none;
      stroke-width: 2;
      stroke: white;
      width: 104px;
      height: 104px;
    }
    .arrows {
      width: 200px;
      height: 80px;
    }
    #rect1 {
      transform: translateY(130px);
    }
    #arrow {
      transform: translate(-65px, 104px ) rotate(289deg);
    }
    #rect2 {
      transform: translate(-164px, 36px);
    }
    #arrow2 {
      transform: translate(-234px, 18px) rotate(2deg);
    }
    #rect3 {
      transform: translate(-304px, -10px);
    }
    #arrow3 {
      transform: translate(-366px, -22px) rotate(306deg);
    }
    #rhombus {
      transform: translate(680px, -137px) rotate(135deg);
    }
    #arrow4 {
      transform: translate(643px, -139px) rotate(56deg);
    }
    #arrow5 {
      transform: translate(376px, -67px) rotate(334deg);
    }
    #rect4 {
        transform:  translate(314px, -72px);
    }
  }
}
